@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, a {
    text-align: center;
    color: #DF2F80;
}

form {
    margin-bottom: 20px;
}

input, select, button {
    padding: 10px;
    margin: 10px 0;
    display: block;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

input:focus, select:focus, a:focus {
    border-color: #DF2F80;
    outline: none;
    box-shadow: 0 0 5px rgba(223, 47, 128, 0.3);
}

button {
    background-color: #4267B0;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: #DF2F80;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

ul li:hover {
    background-color: #DF2F80;
    color: white;
}

.section {
    margin: 20px 0;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
    }

    input, select, button {
        padding: 8px;
        font-size: 14px;
    }

    h1, h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    h1, h2 {
        font-size: 20px;
    }

    input, select, button {
        padding: 6px;
        font-size: 12px;
    }

    ul li {
        padding: 8px;
    }
}

/* Estilo para Modal */
.modal {
    display: none; /* Escondido por padrão */
    position: fixed; /* Fica fixo na tela */
    z-index: 1; /* Fica acima de outros conteúdos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escurecido */
}

.modal-content {
    background-color: #fff;
    margin: 15% auto; /* Centralizado vertical e horizontalmente */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Largura do modal */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: animatetop 0.4s; /* Animação de aparecer */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
